<div class="page-wrapper fondoGif p-t-180 p-b-100 font-poppins">
  <div class="wrapper wrapper--w780">
    <div class="card card-3">
      <div class="card-heading"></div>
      <div class="card-body">
        <h2 class="title"> Registro</h2>
        <form [formGroup]="registro" (ngSubmit)="submit()">
          <div class="input-group">
            <input type="text" class="input--style-3" formControlName="name" name="name" required
              placeholder="Nombre de usuario" autofocus>
          </div>
          <div class="input-group">
            <input type="email" class="input--style-3" formControlName="email" name="email" required
              placeholder="Correo electrónico">
          </div>
          <div class="input-group">
            <input type="password" class="input--style-3" formControlName="password" name="password" required
              placeholder="Contraseña">
          </div>
          <div class="input-group">
            <input type="password" class="input--style-3" formControlName="password_confirmation" name="password_confirmation"
              required placeholder="Confirmar contraseña">
          </div>
          <div class="p-t-10">
            <button type="submit" class="btn rounded-pill fs-5"
              style="background-color: #9B6C3F; height: 50px; color: white;" [disabled]="registro.invalid">
              Registrarse
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
