<!-- Sección de equipos -->
<div class="wrapper">
  <section class="module-team">
      <div class="team">
          <h2 class="title">Conoce nuestro equipo</h2>
          <div class="team-cards">
              <!-- Contenedor para el slider de equipo -->
              <div class="swiper-container">
                  <!-- Slides del equipo -->
                  <div id="wrapper2" class="swiper-wrapper"></div>
              </div>
              <!-- Paginación y botones de navegación del slider -->
              <div class="swiper-pagination"></div>
              <div class="navigation">
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
              </div>
          </div>
      </div>
  </section>
</div>
