<main>
  <div class="container-fluid" style="padding: 70px 0px 44px">
    <div class="row justify-content-between m-0">
      <div class="col-1"></div>
      <div class="col-12 miembros">
        <h1 class="p-0">MIEMBROS</h1>
        <table class="table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col">Foto</th>
              <th scope="col">Nombre</th>
              <th scope="col">Rol</th>
              <th scope="col">Descripción</th>
              <th scope="col">Website</th>
              <th scope="col">Email</th>
              <th scope="col">Linkedin</th>
              <th scope="col">Dribble</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let miembro of miembros">
              <td scope="row">
                <img
                  [src]="'assets/images/' + miembro.photo"
                  alt="{{ miembro.name }}"
                  class="rounded-circle"
                  width="100px"
                  height="100%"
                />
              </td>
              <td>
                <input type="text" style="color:white;" class="form-control bg-danger" [(ngModel)]="miembro.name" />
              </td>
              <td>
                <input type="text" style="color:white;" class="form-control bg-danger" [(ngModel)]="miembro.role" />
              </td>
              <td>
                <input type="text" style="color:white;" class="form-control bg-danger" [(ngModel)]="miembro.desc" />
              </td>
              <td>
                <input type="text" style="color:white;" class="form-control bg-danger" [(ngModel)]="miembro.website" />
              </td>
              <td>
                <input type="text" style="color:white;" class="form-control bg-danger" [(ngModel)]="miembro.email" />
              </td>
              <td>
                <input type="text" style="color:white;" class="form-control bg-danger" [(ngModel)]="miembro.linkedin" />
              </td>
              <td>
                <input type="text" style="color:white;" class="form-control bg-danger" [(ngModel)]="miembro.dribbble" />
              </td>
              <td>
                <button (click)="updateMiembro(miembro)" type="submit" class="btn btn-success">Editar</button>
              </td>
              <td>
                <button (click)="eliminarMiembro(miembro.id)" type="submit" class="btn btn-danger">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Aquí mostramos el mensaje -->
        <div>{{ message }}</div>
      </div>
    </div>
  </div>
</main>

