<main>
  <div class="container-fluid" style="padding: 70px 0px 44px">
    <div class="row justify-content-between m-0">
      <div class="col-1"></div>
      <div class="col-12 miembros">
        <h1 class="p-0">
          MIEMBROS
        </h1>
        <table class="table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Foto</th>
              <th scope="col">Nombre</th>
              <th scope="col">Rol</th>
              <th scope="col">Descripción</th>
              <th scope="col">Website</th>
              <th scope="col">Email</th>
              <th scope="col">Linkedin</th>
              <th scope="col">Dribble</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td scope="row">Foto1.jpg
                <!-- <img src="{{ asset('images/' . $miembro['photo']) }}"
                                            alt="Carta {{ $miembro['name'] }}" class="rounded-circle" width="100px"
                                            height="100%"> -->
              </td>
              <td scope="row">Julian Ortega
                <!-- <input type="text" style="color:white;" class="form-control bg-danger"
                                           > -->

              </td>
              <td scope="row">Yonki
                <!-- <input type="text" style="color:white;" class="form-control bg-danger"
                                        > -->

              </td>
              <td scope="row">Te identifica un Yurei como si de tu padre el alcoholico se tratase
                <!-- <input type="text" style="color:white;" class="form-control bg-danger"
                                            > -->

              </td>
              <td scope="row">julianphasmo.org
                <!-- <input type="text" style="color:white;" class="form-control bg-danger"
                                         > -->

              </td>
              <td scope="row">julianphasmo@gmail.com
                <!-- <input type="text" style="color:white;" class="form-control bg-danger"
                                           > -->

              </td>
              <td scope="row">julianortega.linkedin
                <!-- <input type="text" style="color:white;" class="form-control bg-danger"
                                         > -->

              </td>
              <td scope="row">dribblePhasmo
                <!-- <input type="text" style="color:white;" class="form-control bg-danger"
                                         > -->

              </td>
              <td>
                <button type="submit" class="btn btn-success">Editar</button>
              </td>

              <td>
                <button type="submit" class="btn btn-danger">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
